

body {
  font-family: "Space Grotesk", sans-serif;
}


.node-bg {
  background-image: radial-gradient(
    circle at 2px 2px,
    rgba(13, 89, 242, 0.15) 1px,
    transparent 0
  );
  background-size: 40px 40px;
}


.glass-card {
  background: rgba(27, 31, 39, 0.7);
  backdrop-filter: blur(10px);
}
